.parent-wrapper {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}
.parent {
  display: flex;
  flex-wrap: wrap;
}
.assetCard {
  flex: 1 0 21%; 
  border: solid;
  margin: 5px;
  height: 100px;
  background-color: white;
}

.clickedCard {
flex: 1 0 21%; 
border: solid; 
margin: 5px;
background-color: white;

}